body {
  background-color:black;
  font-family:arial, sans-serif;
  color:white}
h1{
  color:grey;
  font-family:verdana, sans-serif;
}
.maindiv {
  background-color: white;
  color: black;
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  margin: 0 auto;
  /* align: center; This is what the docs say, but that's wrong. Margin is commonly used. */
}
footer {
  display: block;
  margin: 0 auto;
  width: 350px;
  text-align: center;
  margin-top: 10px;
}

